/* Page Commander spécifique */
.commander-page {
    background-color: #509659; /* Fond vert */
    padding: 20px 20px 30px;
    padding-bottom: 30px;
    max-width: 100%; /* Assure que le fond vert couvre toute la largeur */
    margin: 0 auto; /* Centre la page */
}

/* Section 1: COMMANDER */
.commande-header h1 {
    font-family: 'Syne', sans-serif;
    font-size: 38px;
    font-weight: 800;
    line-height: 45.6px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    width: 100%; /* Ajuste la largeur */
    margin: 0 auto;
    margin-top: 0; /* Supprime l'espace blanc */
}

/* Séparateur */
.commander-page .separator {
    border: 1px solid #FFFFFF;
    display: block;
    width: 100%; /* Ajuste la largeur */
    max-width: 900px; /* Limite la largeur à 900px */
    margin: 20px auto; /* Centre le trait de séparation */
}


/* Section 2: Votre commande */
.commander-page .order-gouts {
    max-width: 900px; /* Limite la largeur à 900px */
    margin: 0 auto; /* Centre la section */
}

.commander-page .order-gouts h2 {
    font-family: 'Syne', sans-serif;
    font-size: 20px; /* Réduit la taille du titre */
    font-weight: 700;
    color: #FFFFFF;
    text-align: left;
    margin-left: 0; /* Aligne à gauche */
    margin-top: 20px; /* Ajoute un espace sous le trait de h1 */
}

.commander-page .gout-options {
    display: flex;
    flex-wrap: nowrap; /* Empêche les éléments de passer à la ligne suivante */
    justify-content: space-between; /* Réduit l'espace entre les éléments de manière égale */
    margin-top: 30px;
}

.commander-page .gout-container {
    position: relative;
    width: 192.53px; /* Largeur fixe */
    height: 128.36px; /* Hauteur fixe */
    margin: 0 10px; /* Ajoute un peu d'espace autour des conteneurs */
}

.commander-page .gout-container img {
    width: 100%; /* Assure que les images remplissent le conteneur */
    height: auto; /* Maintient le ratio d'aspect */
    opacity: 1; /* Assure que les images sont visibles */
}



.commander-page .gout-container .gout-name {
    position: absolute;
    top: 35%; /* Ajuste cette valeur pour positionner le texte plus haut */
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Syne', sans-serif;
    font-size: 20px; /* Augmente la taille de la police */
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
    padding: 5px; /* Optionnel : ajoute un peu de padding autour du texte */
}




.commander-page .quantity {
    display: block;
    margin: 10px auto;
    width: 25px;
}

/* Section 3: Formulaires */
.commander-page .information-forms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    position: relative;
}

.commander-page .form-container {
    width: 45%;
    max-width: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.commander-page .form-container:first-of-type {
    margin-left: 60px; /* Légèrement plus décalé vers la droite */
}

.commander-page .form-container h2,
.commander-page .form-container label {
    text-align: left;
    margin: 0;
    padding: 0;
    width: auto;
}

.commander-page .form-container input[type="text"],
.commander-page .form-container input[type="email"] {
    width: 80%; /* Garder la largeur des champs inchangée */
    margin: 5px 0;
    padding: 10px;
}

.commander-page .separator-vertical {
    border-left: 2px solid #FFFFFF;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.commander-page h3 {
    font-family: 'Syne', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

.commander-page label {
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

.commander-page input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

/* Bouton Commander */
.commander-page .order-button-section {
    text-align: center;
    margin-top: 10px; /* Ajuste la marge pour remonter le bouton de 20px */
    margin-bottom: 80px; /* Ajoute 30px de marge supplémentaire sous le bouton */
}

.commander-page .order-button {
    font-family: 'Syne', sans-serif;
    background-color: #DC9F96;
    color: white;
    padding: 9px 56px;
    border-radius: 5px;
    cursor: pointer;
    border: none; /* Supprime la bordure noire */
}

.commander-page .order-button:hover {
    background-color: #C02E44;
}